* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

li,ul {
    list-style: none;
}

.slide .Slide{
    display: block;
    max-width: inherit;
    position: absolute;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.logo {
    font-size: 14px;
    width: 152px;
    height: 19px;
    margin-left: 2%;
    margin-top: 2%;
}

.logo >a > p {
    font-size: 10px;
    margin-left: 20px;
}

.nav > ul {
    display: flex;
    margin: 30px;
}

.nav > ul > li > ul {
    position: absolute;
    left: 0;
    right: 0;
    height: 160px;
}

.nav >ul > li > ul > a {
    line-height: 40;
    text-align: center;
}