* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,li,ol {
    list-style: none;
}

.maincontainer {
    height: 100vh;
}
    
h1 {
    height: 117px;
}

.Logo {
    position: relative;
    top: 44%;
    left: 4%;
}

text {
    font-family: 'Monoton', cursive;
    font-size: 6em;
}

tspan {
}