@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Noto+Sans:wght@900&display=swap');

:root {
    font-size: 26px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,li,ol {
    list-style: none;
}

.maincontainer {
    height: 100vh;
}
    
h1 {
    height: 117px;
}

.Logo {
    position: relative;
    top: 28%;
    left: 4%;
}

.Your {
    height: 200px;
}

.Your > span {
    font-family: 'Bungee Shade', cursive;
    font-size: 6.4rem;
    position: relative;
    left: 15%;
    bottom: 0.6em;
}

.TURN {
    position: relative;
    bottom: 7.6em;
    height: 200px;
}

.TURN > span {
    font-family: 'Bungee Shade', cursive;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(0, 0, 151);
    font-size: 6.4rem;
    position: relative;
    left: 1400px;
}

.TONE {
    display: inline;
    flex-wrap: wrap;
    /* display: none; */
}